<form #taskForm="ngForm" (ngSubmit)="createNewTask()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Create New Task
        </div>

        <div class="panel-body">

            <div class="form-group" [class.has-error]="titleControl.invalid && titleControl.touched"
                [class.has-success]="titleControl.valid">
                <label for="title" class="control-label">Title</label>
                <input required type="text" name="title" id="title" class="form-control" [(ngModel)]="task.title"
                    #titleControl="ngModel">
                <span class="help-block" *ngIf="titleControl.invalid && titleControl.touched">
                    Title is required
                </span>
            </div>

            <div class="row" [class.has-error]="executorControl.invalid && executorControl.touched"
                [class.has-success]="executorControl.valid">
                <div class="form-group col-xs-4">
                    <label for="executor">
                        Executor
                    </label>
                    <select required type="text" name="executor" id="executor" class="form-control"
                        [(ngModel)]="task.executor" #executorControl="ngModel">
                        <option disabled [ngValue]="null">Select Executor</option>
                        <option *ngFor="let exec of executors" [value]="exec.id">
                            {{exec.name}}
                        </option>
                    </select>
                    <span class="help-block" *ngIf="executorControl.invalid && executorControl.touched">
                        Executor is not selected
                    </span>
                </div>

                <div class="form-group">
                    <img src="{{executors[task.executor-1].photoPath}}" class="imgClass" *ngIf="task.executor" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4" [class.has-error]="importance.touched && importance.invalid" [class.has-success]="importance.valid">
                    <label class="control-label">Importance</label>
                    <div class="form-control">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="radio-inline">
                                    <input type="radio" #importance="ngModel" required name="importance" value="1"
                                        [(ngModel)]="task.importance">Immediate
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="radio-inline">
                                    <input type="radio" #importance="ngModel" required name="importance" value="2"
                                        [(ngModel)]="task.importance">Not
                                    Urgent
                                </label>
                            </div>
                        </div>
                        <span class="help-block" *ngIf="importance.invalid && importance.touched">
                            Importance is required
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="deadLine">Dead Line</label>
                    <input id="deadLine" name="deadLine" [(ngModel)]="task.deadLine" type="text" bsDatepicker
                        [bsConfig]="datepickerConfig" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="taskBody">Task Body</label>
                <textarea rows="5" length="120" type="text" name="taskBody" id="taskBody"
                    class="form-control" [(ngModel)]="task.taskBody"></textarea>
            </div>

            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea rows="2" length="120" type="text" name="notes" id="notes" class="form-control"
                    [(ngModel)]="task.notes"></textarea>
            </div>

        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Create</button>
        </div>
    </div>
</form>

form value {{taskForm.value | json}}