<div class="panel panel-primary" *ngFor="let task of tasks">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-6">{{task.title}} </div>
            <div class="col-lg-2 col-sm-6 col-xs-6">{{task.date | date: 'fullDate'}}</div>
            <div class="col-lg-2 col-sm-6 col-xs-6">{{task.executor}}</div>
            <div class="col-lg-5 col-sm-6 col-xs-6" *ngIf="task.notes; else elseBlock">{{task.notes}}</div>
            <ng-template  #elseBlock><div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">New task, notes is empty</div></ng-template>
        </div>
    </div>
</div>