<div *ngIf="task.date; else taskEmptyBlock">
    <div class="panel panel-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="row col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        #{{task.id}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        {{task.title}}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">{{task.date | date: 'd/MM/yyyy, HH:mm'}}</div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" [ngSwitch]="task.executor">
                    <span *ngSwitchCase="1">{{executors[task.executor-1].name}}</span>
                    <span *ngSwitchCase="2">{{executors[task.executor-1].name}}</span>
                    <span *ngSwitchCase="3">{{executors[task.executor-1].name}}</span>
                    <span *ngSwitchCase="4">{{executors[task.executor-1].name}}</span>
                    <span *ngSwitchCase="5">{{executors[task.executor-1].name}}</span>
                    <span *ngSwitchDefault>N/A</span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" *ngIf="task.notes; else elseBlock">{{task.notes}}
                </div>
                <ng-template #elseBlock>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">New task, notes is empty</div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="panel panel-footer">
        <div class="row">
            <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-primary" routerLink="/list" queryParamsHandling="preserve">
                    Back to list
                </button>
            </div>
            <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-primary" (click)="editTask()">
                    Edit
                </button>
            </div>
            <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <button class="btn btn-danger">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>