<div style="padding: 5px">
    <ul class="nav nav-tabs">
        <li routerlinkActive="active">
            <a routerLink="home">Home</a>
        </li>
        <li routerlinkActive="active">
            <a routerLink="list">Task-List</a>
        </li>
        <li routerlinkActive="active">
            <a routerLink="newTask">Create New Task</a>
        </li>
        <li routerlinkActive="active">
            <a routerLink="recycle">Recycle</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>
